/* Responsive For Mobile Device */

@media screen and (max-width: 576px) {

    /* For Navbar Part */
    .nav-container {
        flex-direction: column;
        width: none;
        height: none;
        background: none;
        box-shadow: none;
    }

    .nav-logo-pic {
        margin-right: 10px;
    }

    .logo-container {
        flex-direction: row;
        margin-left: 0px;
        margin-top: 60px;
    }

    .logo-container>img {
        width: auto;
        height: 20px;
    }

    .heading-logo-text {
        font-size: 30px;
        font-weight: 700;
    }

    .span-one {
        font-size: 35px;
    }

    .menu-list-container {
        flex-direction: column;
        margin-right: 0px;
    }

    .menu-list-container>a,
    div>a {
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-right: 10px;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .follow-us-background {
        width: 130px;
        height: 30px;
        border-radius: 5px;
        background: rgba(11, 2, 35, 0.10);
    }

    .follow-us-text {
        padding: 5px 12px 6px 18px;
    }

    /* For Banner Part */

    .main-container {
        flex-direction: column;
        gap: 20px;

    }

    .play-like-the-container {
        margin-top: 120px;
        align-items: center;

    }
    .play-like-para, .play-like-heading {
        font-size: 2em;
    }

    .list-banner{
        font-size: 10px;
    }
    .fa-solid, .fa-regular, .fa-solid{
        size: 2em;
    }
    .banner-pic {
        width: 100%;
        height: auto;
    }

    .btn-pink, .btn-blue{
        padding: 10px 15px;
        font-weight: 300;
        font-size: 5px;

    }
}

/* Responsive For Medium Devices */

@media screen and (min-width: 576px) and (max-width: 992px) {

    .menu-list-container>a,
    div>a {
        font-size: 10px;
        margin-right: 10px;
    }

    .menu-list-container {
        margin-right: 60px;
    }

    .follow-us-background {
        width: 150px;
        height: 50px;
        border-radius: 5px;
        background: rgba(11, 2, 35, 0.10);
    }

    .logo-container {
        margin-left: 60px;
    }

    .logo-container>img {
        width: auto;
        height: 20px;
    }

    .heading-logo-text {
        font-size: 30px;
        font-weight: 700;
    }

    .span-one {
        font-size: 35px;
    }

    /* Banner */

    .main-container > .play-like-the-container{
        margin-top: 160px;
    }
}