@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,700&family=Work+Sans:wght@500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
}

/* Navbar Style Start */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 130px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}

.nav-logo-pic {
    margin-right: 20px;
}

.heading-logo-text {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.span-one {
    color: #FF42A5;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}

.menu-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 150px;
}

.menu-list-container>a,
div>a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 32px;
}

.follow-us-background {
    width: 200px;
    height: 46px;
    border-radius: 5px;
    background: rgba(11, 2, 35, 0.10);
}

.follow-us-text {
    padding: 14px 16px 14px 24px;
}

.fa-brands {
    margin-right: 5px;
}

/* Navbar style End */

/* Banner Section Style */

.play-like-para {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.play-like-heading {
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-container .play-like-the-container>a {
    text-decoration: none;
    display: block;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-pic {
    max-width: 40%;
    height: auto;
    background: cover no-repeat;
    margin-right: 100px;
    margin-left: 90px;
}

.play-like-the-container {
    margin: 0 auto;
    margin-left: 100px;
}

.list-banner {
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    margin-bottom: 18px;
}

.btn-pink {
    padding: 21px 40px;
    border-radius: 48px;
    background-color: #FF42A5;
    border: none;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.btn-blue {
    padding: 21px 40px;
    border-radius: 48px;
    background-color: #4EC5F7;
    border: none;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.btn-container {
    display: flex;
    gap: 10px;
}

/* Banner Section Style End */

/* Online Game Section Style */

.online-game-heading {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 80px 0px 5px 0px;
}

.online-game-heading>span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.online-game-para {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}

.online-game-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-left: 26px;
    margin-right: 26px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 26px;
}

.card {
    width: 342px;
    height: 400px;
}

.card-pic {

    max-width: 100%;
    height: auto;
    border-radius: 16px;
    flex: 1;

}

#card-three>img:hover {
    opacity: 0.4;
    border: 4px solid yellow;
    border-radius: 16px;
}

.card-para {
    width: 342px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 150px;
    margin-top: 10px;
}

.icon-container>.fa-solid,
.para-icon {
    position: relative;
    bottom: 450px;

}

#play {
    font-size: 235px;
    margin-bottom: 10px;
}

.icon-container {
    text-align: center;
}

/* Online Game Section Style End */


.play-instantly-container {
    display: flex;
    justify-content: center;
    gap: 200px;
    align-items: center;
    padding: 0px 250px;
}

.main-img-man {
    width: 634.833px;
    height: 650px;
    flex-shrink: 0;
    padding-top: 200px;
}

.main-img-doll {
    width: 318.5px;
    height: 365.083px;
    position: relative;
    bottom: 300px;
    right: 150px;
}

.instantly-heading>span {
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.instantly-heading {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
    text-align: right;
}

.instantly-para {
    width: 353px;
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.play-instantly-description {
    margin-right: 140px;
}




.r {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.list-one {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    width: 233px;
    height: 70px;
    border-radius: 50px;
    background: #ffffff;
}

.list-one:hover{
    border: 1px solid #FF42A5;
    color: #F948B2;
    cursor: pointer;
}

.mini-card-container {
    width: 100%;
    height: 427px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.list-container-one {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.list-container-two{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.list-container-one{
    padding-top: 150px;
    padding-bottom: 38px;
}
